
.cuadrado{
	height: 100px;
	width: 20%;
	/*Cambia el floating de los bloques a right. 
	float:right;*/
	/*Cambia el floating a left.*/
	float: left;

}
#amarillo{
	background: yellow;
}
#blue{
	background: blue;
}
#red{
	background: red;
}
.externo{
	width: 20%;
	border: 1px solid grey;

}

/* Clase para que no obvie el contenido que tiene dentro*/
.clearfix:before, .clearfix:after{
	content: "";
	display: table;
}

.clearfix:after{
	clear: both;
}